<div class="container" fxLayout="column" fxLayoutGap="30px" style="margin-top: 10px;padding-block-end: 20px;">
    <div fxLayout="column" fxLayoutGap="10px" class="food-list" *ngFor="let food of foodArray;let i=index;">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div style="width: 65%;" class="form-field-heading">{{food.description}}</div>
            <button matTooltip="Remove from wishlist" mat-icon-button *ngIf="wishListItemIdArray?.includes(food.fdcId)"
                (click)="removeFromFavourite(food.fdcId)">
                <mat-icon class="icon-wishlist">favorite</mat-icon>
            </button>
            <button matTooltip="Add to wishlist" mat-icon-button *ngIf="!wishListItemIdArray?.includes(food.fdcId)"
                (click)="addToFavourite(food)">
                <mat-icon class="icon-wishlist">favorite_border</mat-icon>
            </button>
        </div>
        <table class="table table-borderless">
            <tbody>
                <tr *ngIf="food?.brandName">
                    <th width="150px" scope="row">Brand Name</th>
                    <td>{{food.brandName}}</td>
                </tr>
                <tr *ngIf="food?.additionalDescriptions">
                    <th width="150px" scope="row">Description</th>
                    <td>{{food.additionalDescriptions}}</td>
                </tr>
                <tr *ngIf="food?.ingredients">
                    <th width="150px" scope="row">Ingredients</th>
                    <td>{{food.ingredients}}</td>
                </tr>
                <tr *ngIf="food?.foodCategory">
                    <th width="150px" scope="row">Category</th>
                    <td>{{food.foodCategory}}</td>
                </tr>
                <tr *ngIf="food?.publishedDate">
                    <th width="150px" scope="row">Published Date</th>
                    <td>{{food.publishedDate}}</td>
                </tr>
            </tbody>
        </table>
        <mat-accordion style="width: 95%;">
            <mat-expansion-panel class="u-margin-bottom-xsmall" hideToggle (opened)="openPanel()"
                (closed)="closePanel()" style="margin-top: 13px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="label-view form-field-heading-black">Nutrition Details</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        Click here to {{ panelOpenState ? 'hide': 'view'}} nutrients details.
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="nutrient-list col-3" *ngFor="let nutrient of food.foodNutrients;let i=index;">
                            <div class="nutrients">
                                <mat-progress-spinner style="position: absolute;top: 0;left: 0;color: black;"
                                    [mode]="'determinate'" [value]="100" [diameter]="80">
                                </mat-progress-spinner>
                                <div fxLayout="column" fxLayoutAlign="flex-start center">
                                    <div class="description-black">
                                        {{nutrient.value}}

                                    </div>
                                    <div>
                                        {{nutrient.unitName}}
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                {{nutrient.nutrientName}}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <ng-container *ngIf="foodArray?.length==0">
        <div class="cntr">
            <img src="assets/images/class-not-found.jpg" class="img-fluid-2" alt="request-not-found">
            <div class="img-caption">
                <h2 class="heading-2">No items found</h2>
            </div>
        </div>
    </ng-container>
</div>