.food-list {
  border: 1px solid #e1e8f2;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.details {
  padding: 15px 25px;
}

.nutrients {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nutrient-list {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.icon-wishlist {
  cursor: pointer;
  color: red;

  &:hover {
    opacity: .6;
  }
}

@keyframes wishlist-ani {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(.5);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.img-fluid-2 {
  max-width: 30%;
  height: auto;
}

.img-caption {
  position: relative;
}

.cntr {
  text-align: center;
}