<mat-toolbar
    style="height: 10vh; display: flex;flex-direction: row;justify-content: space-between;background-color: #1f4e79;">

    <div fxLayout="row" fxLayoutGap="7px">
        <img src="assets/images/nutrition-app-icon.jpg" alt=""  style="height: 33px;border-radius: 40px;">
        <div style="color: white;font-size: 17px;" >
            Nutritionist App
        </div>
    </div>
    <div fxLayout="row" *ngIf="showHeader">

        <button matTooltip="View wishlist" routerLink="../wishlist-items" mat-icon-button
            style="background-color:white;">
            <img src="assets/images/icons8-wish-list-24.png" alt="">
        </button>

        <a mat-button [matMenuTriggerFor]="menu">
            <span class="link" style="color: white;"> {{userName}} </span>
            <i class="material-icons" style="color: white;">arrow_drop_down</i>
        </a>

        <mat-menu #menu="matMenu" xPosition="before">
            <button class="content-center" mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon><span>Log Out</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false" style="height:90vh;">
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-http-loader></ng-http-loader>
<ng-http-loader [backdrop]="true" [backgroundColor]="'#1f4e79'" [debounceDelay]="100" [extraDuration]="300"
    [minDuration]="300">
</ng-http-loader>