<div class="container">
    <button matTooltip="Go to dashboard" mat-icon-button routerLink="../dashboard">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="search">
        <form (ngSubmit)="search()" style="justify-content: flex-start;" fxLayout="row" fxLayoutGap="9px"
            fxLayout.lt-sm="column" fxLayoutGap.lt-sm="4px">
            <mat-form-field appearance="outline">
                <mat-label class="form-field-sub-heading">Search By</mat-label>
                <mat-select [(ngModel)]="selectedSearchCriteria" (selectionChange)="triggerSearch()"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let search of searchCriteria;let i=index;" [value]="search">{{search}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 70%;" *ngIf="selectedSearchCriteria!==searchCriteria[2]">
                <input type="text" matInput placeholder="Search for product's code, name, brand"
                    [(ngModel)]="valueToSearch" [ngModelOptions]="{standalone: true}">
                <button type="submit" *ngIf="valueToSearch" matSuffix mat-icon-button (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="selectedSearchCriteria===searchCriteria[2]">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="dateToSearch"
                    [ngModelOptions]="{standalone: true}">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button type="submit" *ngIf="dateToSearch && selectedSearchCriteria===searchCriteria[2]" matSuffix
                mat-icon-button (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </div>
    <div class="heading-3">
        Search Results
    </div>
    <div class="sort" fxLayout="row" fxLayoutAlign="flex-end" style="margin-bottom: -15px;">
        <mat-form-field appearance="outline">
            <mat-label class="form-field-sub-heading">Sort By</mat-label>
            <mat-select [(ngModel)]="selectedSortCriteria" (selectionChange)="search()"
                [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let sort of sortCriteria;let i=index;" [value]="sort">{{sort}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-view-food *ngIf="foodSearchResult" [foodList]="foodSearchResult"></app-view-food>



    <mat-paginator *ngIf="foodSearchResult?.foods?.length>0" #paginator [length]="this.foodSearchResult.totalHits" [pageIndex]="pageIndex" (page)="pageEvent = handlePage($event)">
    </mat-paginator>
</div>