<section >
    <div class="container-fluid h-custom" style="height: 90vh;">
        <div class="row d-flex justify-content-center align-items-center"style="height: 90vh;">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="assets/images/food.png"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-3">
                <div class="navigate">
                    <a (click)="loginHome()" class="back-navigation">

                        <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>

                        <div class="description link">
                            Login
                        </div>
                    </a>
                </div>
                <h1>SignUp</h1>
                <form [formGroup]="signUpForm" (ngSubmit)="signUp()" style="display: flex;flex-direction: column;">

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4px">
                        <mat-form-field  appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" type="text" matInput placeholder="Enter First Name">
                        </mat-form-field>
                        <mat-form-field  appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" type="text" matInput placeholder="Enter last Name">
                        </mat-form-field>
                    </div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Username</mat-label>
                        <input formControlName="username" type="text" matInput placeholder="Enter username(used for login purpose)">
                    </mat-form-field>
                    <!-- Email input -->
                    <mat-form-field  appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input formControlName="email" type="text" matInput placeholder="Enter email id">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" type="password" matInput placeholder="Enter password">
                    </mat-form-field>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            [disabled]="!signUpForm.valid">Register</button>
                        
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>