<div class="container" style="display: flex;flex-direction: column;">
    <div >
        <button mat-icon-button [mat-dialog-close]="true" style="float: right;">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    
    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center" *ngIf="!success">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form id="register-form" [formGroup]="loginForm" (ngSubmit)="resetPassword()">

                                <div class="form-group d-flex flex-column" >
                                    <mat-form-field  appearance="outline">
                                        <mat-label>Username</mat-label>
                                        <input formControlName="username" type="text" matInput placeholder="Enter username">
                                    </mat-form-field>
                
                                    <mat-form-field appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input formControlName="password" type="password" matInput placeholder="Enter password">
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <input [disabled]="!loginForm.valid" name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                        value="Reset Password" type="submit">
                                </div>
                                

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                    <div *ngIf="success">
                        <div class="success">Password changed successfully!</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>