<section>
    <div class="container-fluid" style="height: 90vh;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="assets/images/food.png"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-3">
                <h1>Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="login()" style="display: flex;flex-direction: column;">

                    <!-- Email input -->
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input formControlName="username" type="text" matInput placeholder="Enter username">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" type="password" matInput placeholder="Enter password">
                    </mat-form-field>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- <a (click)="forgotPassword()" class="text-body">Forgot password?</a> -->
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a (click)="signUp()"
                                class="link-danger">Register</a></p>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            [disabled]="!loginForm.valid">Login</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>