.bg-image {
    background-image: url('../../assets/images/background-1.jpg');
    height: 20vh;
}

.heading-3 {
    font-size: 28px;
    font-weight: bold;
    text-align-last: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.img-fluid-2 {
    max-width: 30%;
    height: auto;
}

.img-caption {
    position: relative;
}

.cntr {
    text-align: center;
}