<div class="bg-image mb-2">
    <div class="heading-3" style="color: white;">
        Recommended Foods
        <div class="description" style="color: white;">
            Get preferred items 
        </div>
    </div>
</div>
<button matTooltip="Go to dashboard" mat-icon-button routerLink="../dashboard" style="padding-left: 20px;">
    <mat-icon>arrow_back</mat-icon>
</button>
<div class="container" fxLayout="column" fxLayoutGap="5px">
    
    <div class="heading-3"></div>
    <app-view-food *ngIf="foodSearchResult" [foodList]="foodSearchResult"></app-view-food>
</div>
<ng-container *ngIf="!foodSearchResult">
    <div class="cntr">
        <img src="assets/images/class-not-found.jpg" class="img-fluid-2" alt="request-not-found">
        <div class="img-caption">
            <h2 class="heading-2">No recommendation found</h2>
        </div>
    </div>
</ng-container>