.food-list {
    border: 1px solid #e1e8f2;
    padding: 10px 20px;
    border-radius: 6px;
}

.details {
    padding: 15px 25px;
}

.nutrients {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nutrient-list {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.img-fluid-2 {
    max-width: 30%;
    height: auto;
}

.img-caption {
    position: relative;
}

.cntr {
    text-align: center;
}

.bg-image {
    background-image: url('../../assets/images/background-1.jpg');
    height: 20vh;
}

.heading-3 {
    font-size: 28px;
    font-weight: bold;
    text-align-last: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}