<div class="container" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
    <img class="error" src="../../assets/images/404-no-found.jpg" alt="">
<button mat-flat-button routerLink="../dashboard" class="btn-style">Go TO Dashboard</button>
</div>