<ng-container *ngIf = "!data.showMessage">
    <div>
        <div>
            <p><b> Something went wrong. Please try again later.</b></p>
        </div>
        <mat-dialog-actions>
            <button class="btn btn-green" (click)="close()">OK</button>
        </mat-dialog-actions>
    </div>
    </ng-container>
    <ng-container *ngIf = "data?.showMessage">
        <div>
            <div>
                <p><b> {{data?.reason}}</b></p>
            </div>
            <mat-dialog-actions>
                <button class="btn btn-green" (click)="close()">OK</button>
            </mat-dialog-actions>
        </div>
        </ng-container>
    
    