<!-- <div class="bg-image mb-2">
    <div class="heading-3" style="color: white;">
        THE FOOD COMMUNITY
        <div class="description" style="color: white;">
            Search Foods.  <br>
            Find Nutritions.
        </div>
    </div>
</div> -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/background-1.jpg" class="d-block" style="height: 45vh;width: -webkit-fill-available;" alt="...">
        <div class="carousel-caption d-block" style="padding-bottom: 5.25rem;">
            <div class="heading-3" style="display: contents;color: white;">
                THE FOOD COMMUNITY
            </div>
            <div class="description" style="color: white;font-size: medium;">
                Search Foods.  
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/background-6.jpg" class="d-block" style="height: 45vh;width: -webkit-fill-available;" alt="...">
        <div class="carousel-caption d-block" style="padding-bottom: 5.25rem;">
            <div class="heading-3" style="display: contents;color: white;">
                THE FOOD COMMUNITY
            </div>
            <div class="description" style="color: white;font-size: medium;">
                Find Nutritions.
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="../../assets/images/background-3.jpg" class="d-block" style="height: 45vh;width: -webkit-fill-available;" alt="...">
        <div class="carousel-caption d-block" style="padding-bottom: 5.25rem;">
            <div class="heading-3" style="display: contents;color: white;">
                THE FOOD COMMUNITY
            </div>
            <div class="description" style="color: white;font-size: medium;">
                Save For Future Reference <br>
                Get Recommended Foods
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="container" style="margin-top: 10px;">
    <div class="search">
        <form (ngSubmit)="search()" style="justify-content: flex-start;" fxLayout="row" fxLayoutGap="9px"
            fxLayout.lt-sm="column" fxLayoutGap.lt-sm="4px">
            <mat-form-field appearance="outline">
                <mat-label class="form-field-sub-heading">Search By</mat-label>
                <mat-select [(ngModel)]="selectedSearchCriteria" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let search of searchCriteria;let i=index;" [value]="search">{{search}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 70%;" *ngIf="selectedSearchCriteria!==searchCriteria[2]">
                <input type="text" matInput placeholder="Search for product's code, name, brand"
                    [(ngModel)]="valueToSearch" [ngModelOptions]="{standalone: true}">
                <button type="submit" *ngIf="valueToSearch" matSuffix mat-icon-button (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="selectedSearchCriteria===searchCriteria[2]">
               <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="dateToSearch"
                    [ngModelOptions]="{standalone: true}">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button type="submit" *ngIf="dateToSearch && selectedSearchCriteria===searchCriteria[2]" matSuffix mat-icon-button (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" *ngIf="recommendedFood?.foods.length>0">
        <div class="form-field-heading mb-2">Recommendations</div>
        <a routerLink="../recommended-food" style="font-size: 12px;">(View all)</a>
    </div>
    <div class="row p-3">
        <div class="food-list col" *ngFor="let food of recommendedFood?.foods;let i=index;">
            <div class="form-field-heading mb-2">{{food.description}}</div>
            <table class="table table-borderless">
                <tbody>
                    <tr *ngIf="food?.brandName">
                        <th width="150px" scope="row">Brand Name</th>
                        <td>{{food.brandName}}</td>
                    </tr>
                    <tr *ngIf="food?.additionalDescriptions">
                        <th width="150px" scope="row">Description</th>
                        <td>{{food.additionalDescriptions}}</td>
                    </tr>
                    <tr *ngIf="food?.ingredients">
                        <th width="150px" scope="row">Ingredients</th>
                        
                        <td>{{ (food.ingredients?.length>50)? (food.ingredients | slice:0:50)+'...':(food.ingredients) }}</td>
                    </tr>
                    <tr *ngIf="food?.foodCategory">
                        <th width="150px" scope="row">Category</th>
                        <td>{{food.foodCategory}}</td>
                    </tr>
                    <tr *ngIf="food?.publishedDate">
                        <th width="150px" scope="row">Published Date</th>
                        <td>{{food.publishedDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>