.description {
    margin-top: 5PX;
    font-size: 14px;
    font-weight: normal;
}

.heading-3 {
    font-size: 28px;
    font-weight: bold;
    text-align-last: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.food-list {
    border: 1px solid #e1e8f2;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.bg-image{
    background-image: url('../../assets/images/background-1.jpg');
    height: 40vh;
}